<div class="card mb-6">
    <header class="card-header card-header-title post-info">

        <div class="column">
            <p class=" has-text-primary-light"></p>
            <p class="default-text  is-capitalized is-pulled-left">Login</p>
        </div>

    </header>

    <div class="card-content">
        <div class="content has-text-justified">
           <form class="login-form">
              <div>
                <label for="username-login">Username</label>
                <input type="text" id="username-login" class="input"/>
              </div>
              <div>
                <label for="password-login">Password</label>
                <input type="password" id="password-login" class="input" />
              </div>
              <div>
                <button type="submit" class="button gray-button input text-white">Login</button>
              </div>
              <a href="/signup" class="sign-up auth">Sign up instead</a>
            </form>
        </div>

    </div>
</div>

<!-- javascript file-->
<script src="/javascript/login.js"></script>