<div class="card mb-6">
    <header class="card-header card-header-title post-info">

        <div class="column">
            <p class=" has-text-primary-light"></p>
            <p class="default-text  is-capitalized is-pulled-left">Signup</p>
        </div>

    </header>

    <div class="card-content">
        <div class="content has-text-justified">
           <form class="signup-form">
              <div>
                <label for="username-signup">Username</label>
                <input type="text" id="username-signup" class="input"/>
              </div>
              <div>
                <label for="password-signup">Password</label>
                <input type="password" id="password-signup" class="input" />
              </div>
              <div>
                <button type="submit" class="button gray-button input text-white">Sign Up</button>
              </div>
              <a href="/login" class="sign-up auth">Login instead</a>
            </form>
        </div>

    </div>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>